.app {
     /* Add app styles here */
}

.titlebar-text {
    color: #666666;
    font-family: ProximaNova, Helvetica, Arial;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 21px;
}
